.anchorpane {
    -fx-background-color: #f2f2f2;
}

.button{
	-fx-background-color: #83c9ff;
	-fx-padding: 4 6 4 6;
	-fx-font-size: 13.0px;
	-fx-text-fill: black;
	-fx-background-radius: 4.0;
	-fx-border-radius:1;
	-fx-border-color:#000080; 
}

.button:hover{
	-fx-background-color: #4db2ff;
	-fx-fill: #ff83c9;
}

.list-view-intro{
	-fx-padding: 4.0;
	-fx-font-size: 14.0px;
	-fx-background-color: #ffa1a7;
}

.list-cell:hover {
  -fx-background-color: #ffff99;
  -fx-text-fill:black;
}

.list-cell:selected {
  -fx-background-color: #ffa1a7;
  -fx-text-fill:black;
}

.tree-cell:hover{
	-fx-background-color: #ffff99;
	-fx-text-fill:black;
}

.tree-cell:selected{
	-fx-background-color: #ffa1a7;
  	-fx-text-fill:black;
}
/*
.scroll-bar{
	-fx-background-color: #83c9ff;
	-fx-border-radius:2px;
} */

.pane{
	-fx-background-color: #ffff99;
	/*-fx-border-color:#83c9ff;*/
}

.menu-button{
	-fx-background-color: #ffa1a7;
	-fx-border-color:#cc0044;
	-fx-font-size: 11.0px;
}

.menu{
	
}

.menu-item:hover{
	-fx-background-color: #ffff99;
}

/*
.menu-item:pressed{
	-fx-background-color: #ffa1a7;
} */

.root {
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #e59096;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #ffa1a7;
}